
.App {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 600px;
  background-color: #282c34;
  color: white;
}

.background {
background-color: #282c34;
  min-height: 100vh;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
